.top-nav-container {
  position: absolute;
  top: 2rem;
  right: 2rem;

  .top-nav-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;

    .top-nav-item {
      background: none;
      border: none;
      color: #493628;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.5rem 1rem;
      position: relative;
      text-transform: capitalize;
      transition: all 0.3s ease;

      &:hover {
        color: #AB876D;
      }

      &.active {
        color: #AB876D;
        font-weight: 600;
        position: relative;
        gap: 2rem;


        &::after {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 1rem;
          right: 1rem;
          height: 2px;
          background-color: #AB876D;
          
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .top-nav-container {
    position: static;
    margin-bottom: 2rem;
    
    .top-nav-list {
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.75rem;
      
      .top-nav-item {
        padding: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}